/*.testClass{
  background: white;
  color: black;
}*/

.ant-modal-body{
  background-color: #E8F1F5
}
.ant-modal-footer{
  background-color: #E8F1F5
}
.ant-modal-header{
  background-color: #FFDE25
}
