.mainTitle{
  font-family: "GoodTime";
  font-style: italic;
  font-size: 4vh;
  color:#FFDE25;
  background-color: #1989AC;
}

.textClass{
  font-weight: bold;
}

/* .triangle1{
  -webkit-clip-path: polygon(48% 0, 52% 0, 100% 100%, 0% 100%);
  clip-path: polygon(48% 0, 52% 0, 100% 100%, 0% 100%);
}

.triangle2{
  -webkit-clip-path: polygon(0 0, 100% 0, 52% 100%, 48% 100%);
  clip-path: polygon(0 0, 100% 0, 52% 100%, 48% 100%);
} */


/* <div className="triangle1" style={{position:"absolute", width:"5vw", height: "5vh", backgroundColor: "black", opacity: "0.9", top: "35vh", left: "50vw"}}>
</div>

<div className="triangle2" style={{position:"absolute", width:"10vw", height: "10vh", backgroundColor: "black", opacity: "0.9", top: "30vh", left: "26.8vw", zIndex: "1"}}>
</div> */
